/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */

.page-footer .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.footer-left {
    width: 635px;
}
.footer-left-text {
    font-size: 14px;
    color: #aaa;
    font-weight: 500;
    letter-spacing: 1px;
}
.footer-right {
    width: 345px;
    display: flex;
    justify-content: space-between;
}
.footer-social-icons {}
.footer-social-icons a {
    display: inline-block;
    height: 35px;
    text-decoration: none;
}
.footer-logo-link {
    color: #aaa;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-logo-link span {
    font-weight: 800;
}