$gap : 15px;
$column : 12;
$bp : 768px;

.container {
    .row {
        
        [class*="col-"] {
            padding-left: $gap;
            padding-right: $gap;
            box-sizing: border-box;
            margin-bottom: 2 * $gap;
        }
        @media (min-width: $bp) {
            display: flex;

            @for $i from 1 through $column {
                .col-#{ $i }-#{$column} {
                    
                    width: (100 / $column * $i) * 1%;
                    
                }

            }
        }
    }
}